---
import { getConfigurationCollection } from "../../lib/utils";

const { data: config } = await getConfigurationCollection();
---

<div class="flex flex-col items-center sm:flex-row gap-8">
  <img
    src={config.hero.image}
    alt={`${config.hero.title} Profile Image`}
    class="rounded-full max-w-40 w-40 h-40 mb-4 z-0 grayscale"
  />
  <div>
    <h1
      class="text-3xl sm:text-4xl font-display font-semibold opsz text-center sm:text-left"
    >
      {config.hero.title}
    </h1>
    <h2
      class="text-center text-xl sm:text-2xl font-mono font-medium sm:text-left"
    >
      <p set:html={config.hero.subtitle}/>
    </h2>
    <div class="flex gap-2"> 
      <a href="https://file.garden/aL51CH2cBBf7c9wl/portfolio-images/profile-image-new.png" class="zag-offset underline font-medium flex items-center focus:outline-2 focus:outline-offset-2 focus:outline-zag-dark dark:focus:outline-zag-light text-base" target="_blank"> 
        <h3>Resume</h3>
       <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 512 512"> <path class="zag-fill zag-transition" fill-rule="evenodd" d="M362.666 149.333V320H320l-.001-97.831l-154.51 154.51l-30.169-30.17L289.829 192h-97.83v-42.666z"></path> </svg> 
      </a> 
    </div>
  </div>
</div>
